<nav class="navbar navbar-expand-lg navbar-dark bg align-items-end fixed-top">
  <button class="navbar-toggler align-item-centre" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <a class="navbar-brand" href="#" routerLink="/Home">Friend</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active justify-content-end">
        <a class="nav-link" href="#" routerLink="/Home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/Profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
