<app-navigation-bar></app-navigation-bar>

<div class="section-profile">
  &nbsp;
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3">
      <img src="../../assets/img/woman-1446557_1920.jpg" alt="Naveen" class="img-profile">
      <h5 class="profile-name2">Rai Roy</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-2 d-lg-block d-none">
      &nbsp;<div class="text-dark bg mb-3">
      <div class="card-header">
        <h6 class="profile-name">Details</h6>
         </div>
      <div class="card-body">
        <p>Name: <span class="font-weight-bolder">Ria Roy</span></p>
        <p>Gender: <span class="font-weight-bolder">Female</span></p>
        <p>relationship status: <span class="font-weight-bolder">Single</span></p>
        <p>Phone: <span class="font-weight-bolder">9511588783</span></p>
        <p>Nationality: <span class="font-weight-bolder">Indian</span></p>
      </div>
    </div>
    </div>
    <div class="col-12 col-lg-7">
      <div class="card text-dark bg mb-3" style="max-width: 100%;">
        <div class="card-header">
          <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
          <h5 class="profile-name">Sachine Tendulkar</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">jump high</h5>
          <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
          <img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top" alt="...">
          <div class="row">
            <div class="col-lg-1 col-sm-1 col-1">
              <i class="icon-basic-heart" (click)="onlike()"> </i>
              <p>{{count}}</p>
            </div>
            <div class="col-lg-1 col-1 col-sm-1">
              <i class="icon-basic-message-txt" (click)="oncomment()"></i>
            </div>
            <div class="col-lg-1 col-1 col-sm-1">
              <i class="icon-basic-paperplane"></i>
            </div>
            <div class="col-lg-12">
              <div class="row">
                <input type="text" class="form-control" *ngIf="comment===true; else fls" (input)="TheComment($event)">
                <button class="btn btn-primary" *ngIf="comment===true" (click)="oncomment2()">comment</button>
              </div>
              <ng-template #fls>
                <div class="col-lg-10">
                  <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
                  <h6 class="profile-name">Naveen singh</h6>
                  <p style="margin-left: 2.5rem">{{user_commnet}}</p>
                </div>
                <div class="col-lg-2">
                  <i class="icon-basic-heart1" (click)="onlike1()"> </i>
                  <p style="margin-left: .2rem">{{count1}}</p>
                </div>
              </ng-template>

            </div>


          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 d-lg-block d-none">
        <div class="card text-dark bg mb-3" style="max-width: 100%;">
          <div class="card-header">
            <h6 class="profile-name">PHOTOS</h6>
          </div>
          <div class="card-body">
            <a href="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"><img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top1" alt="..."></a>
            <a href="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"><img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top1" alt="..."></a>
            <a href="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"><img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top1" alt="..."></a>
            <a href="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"><img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top1" alt="..."></a>
            <a href="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"><img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top1" alt="..."></a>
            <a href="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"><img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top1" alt="..."></a>
            <a href="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg"><img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top1" alt="..."></a>



          </div>
        </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-lg-2 d-lg-block d-none">
        &nbsp;
      </div>
      <div class="col-12 col-lg-7">
        <div class="card text-dark bg mb-3" style="max-width: 100%;">
          <div class="card-header">
            <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
            <h5 class="profile-name">Sachine Tendulkar</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">jump high</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top" alt="...">
            <div class="row">
              <div class="col-lg-1 col-sm-1 col-1">
                <i class="icon-basic-heart" (click)="onlike()"> </i>
                <p>{{count}}</p>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-message-txt" (click)="oncomment()"></i>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-paperplane"></i>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <input type="text" class="form-control" *ngIf="comment===true; else fls" (input)="TheComment($event)">
                  <button class="btn btn-primary" *ngIf="comment===true" (click)="oncomment2()">comment</button>
                </div>
                <ng-template #fls>
                  <div class="col-lg-10">
                    <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
                    <h6 class="profile-name">Naveen singh</h6>
                    <p style="margin-left: 2.5rem">{{user_commnet}}</p>
                  </div>
                  <div class="col-lg-2">
                    <i class="icon-basic-heart1" (click)="onlike1()"> </i>
                    <p style="margin-left: .2rem">{{count1}}</p>
                  </div>
                </ng-template>

              </div>


            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="row">
      <div class="col-lg-2 d-lg-block d-none">
        &nbsp;
      </div>
      <div class="col-12 col-lg-7">
        <div class="card text-dark bg mb-3" style="max-width: 100%;">
          <div class="card-header">
            <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
            <h5 class="profile-name">Sachine Tendulkar</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">jump high</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top" alt="...">
            <div class="row">
              <div class="col-lg-1 col-sm-1 col-1">
                <i class="icon-basic-heart" (click)="onlike()"> </i>
                <p>{{count}}</p>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-message-txt" (click)="oncomment()"></i>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-paperplane"></i>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <input type="text" class="form-control" *ngIf="comment===true; else fls" (input)="TheComment($event)">
                  <button class="btn btn-primary" *ngIf="comment===true" (click)="oncomment2()">comment</button>
                </div>
                <ng-template #fls>
                  <div class="col-lg-10">
                    <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
                    <h6 class="profile-name">Naveen singh</h6>
                    <p style="margin-left: 2.5rem">{{user_commnet}}</p>
                  </div>
                  <div class="col-lg-2">
                    <i class="icon-basic-heart1" (click)="onlike1()"> </i>
                    <p style="margin-left: .2rem">{{count1}}</p>
                  </div>
                </ng-template>

              </div>


            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="row">
      <div class="col-lg-2 d-lg-block d-none">
        &nbsp;
      </div>
      <div class="col-12 col-lg-7">
        <div class="card text-dark bg mb-3" style="max-width: 100%;">
          <div class="card-header">
            <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
            <h5 class="profile-name">Sachine Tendulkar</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">jump high</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top" alt="...">
            <div class="row">
              <div class="col-lg-1 col-sm-1 col-1">
                <i class="icon-basic-heart" (click)="onlike()"> </i>
                <p>{{count}}</p>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-message-txt" (click)="oncomment()"></i>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-paperplane"></i>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <input type="text" class="form-control" *ngIf="comment===true; else fls" (input)="TheComment($event)">
                  <button class="btn btn-primary" *ngIf="comment===true" (click)="oncomment2()">comment</button>
                </div>
                <ng-template #fls>
                  <div class="col-lg-10">
                    <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
                    <h6 class="profile-name">Naveen singh</h6>
                    <p style="margin-left: 2.5rem">{{user_commnet}}</p>
                  </div>
                  <div class="col-lg-2">
                    <i class="icon-basic-heart1" (click)="onlike1()"> </i>
                    <p style="margin-left: .2rem">{{count1}}</p>
                  </div>
                </ng-template>

              </div>


            </div>
          </div>
        </div>
      </div>

    </div>




    <div class="row">
      <div class="col-lg-2 d-lg-block d-none">
        &nbsp;
      </div>
      <div class="col-12 col-lg-7">
        <div class="card text-dark bg mb-3" style="max-width: 100%;">
          <div class="card-header">
            <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
            <h5 class="profile-name">Sachine Tendulkar</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">jump high</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top" alt="...">
            <div class="row">
              <div class="col-lg-1 col-sm-1 col-1">
                <i class="icon-basic-heart" (click)="onlike()"> </i>
                <p>{{count}}</p>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-message-txt" (click)="oncomment()"></i>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-paperplane"></i>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <input type="text" class="form-control" *ngIf="comment===true; else fls" (input)="TheComment($event)">
                  <button class="btn btn-primary" *ngIf="comment===true" (click)="oncomment2()">comment</button>
                </div>
                <ng-template #fls>
                  <div class="col-lg-10">
                    <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
                    <h6 class="profile-name">Naveen singh</h6>
                    <p style="margin-left: 2.5rem">{{user_commnet}}</p>
                  </div>
                  <div class="col-lg-2">
                    <i class="icon-basic-heart1" (click)="onlike1()"> </i>
                    <p style="margin-left: .2rem">{{count1}}</p>
                  </div>
                </ng-template>

              </div>


            </div>
          </div>
        </div>
      </div>

    </div>



    <div class="row">
      <div class="col-lg-2 d-lg-block d-none">
        &nbsp;
      </div>
      <div class="col-12 col-lg-7">
        <div class="card text-dark bg mb-3" style="max-width: 100%;">
          <div class="card-header">
            <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
            <h5 class="profile-name">Sachine Tendulkar</h5>
          </div>
          <div class="card-body">
            <h5 class="card-title">jump high</h5>
            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
            <img src="../../assets/img/edu-lauton-TyQ-0lPp6e4-unsplash.jpg" class="card-img-top" alt="...">
            <div class="row">
              <div class="col-lg-1 col-sm-1 col-1">
                <i class="icon-basic-heart" (click)="onlike()"> </i>
                <p>{{count}}</p>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-message-txt" (click)="oncomment()"></i>
              </div>
              <div class="col-lg-1 col-1 col-sm-1">
                <i class="icon-basic-paperplane"></i>
              </div>
              <div class="col-lg-12">
                <div class="row">
                  <input type="text" class="form-control" *ngIf="comment===true; else fls" (input)="TheComment($event)">
                  <button class="btn btn-primary" *ngIf="comment===true" (click)="oncomment2()">comment</button>
                </div>
                <ng-template #fls>
                  <div class="col-lg-10">
                    <img src="../../assets/img/woman-1446557_1920.jpg" alt="Rai" class="img-thumbnail img-fluid profile-img">
                    <h6 class="profile-name">Naveen singh</h6>
                    <p style="margin-left: 2.5rem">{{user_commnet}}</p>
                  </div>
                  <div class="col-lg-2">
                    <i class="icon-basic-heart1" (click)="onlike1()"> </i>
                    <p style="margin-left: .2rem">{{count1}}</p>
                  </div>
                </ng-template>

              </div>


            </div>
          </div>
        </div>
      </div>

    </div>
</div>
